#logo {
  position: absolute;
  top: 0px;
  left: 125px;
  width: 200px;
  z-index: -1;
  /* Set width to 100% to fill the container */
  height: 200px;
  /* Set height to 100% to fill the container */
}

html,
body {
  /* position: relative; */
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#textBox {
  display: flex;
  border: 3px solid rgb(42, 146, 148);
  border-radius: 2px;
  height: 50px;
  width: 640px;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}

.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

#parrentBox {
  position: absolute;
  top: 100px;

  /* border: 2px solid black; */
  height: 730px;
  width: fit-content;
  margin: 10px 100px;
  margin-top: 50px;
  display: flex;
  /* flex-direction: column; */
}

#column1 {
  display: flex;
  width: 707px;
  height: 627px;
  /* border: 2px solid black; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-left: 100px; */

}

#column2 {
  display: flex;
  width: 470px;
  height: 627px;
  /* border: 2px solid blue; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-right: 100px; */
}

#canvasContainer {
  display: flex;
  /* position: relative; */
  width: 640px;
  height: 480px;
  top: 50px;
  left: 100px;
  border: 3px solid rgb(42, 146, 148);
  border-radius: 2px;
  align-items: center;
  justify-content: center;
}

/* .audio {
  width: 319px;
  margin-top: 5px;
  margin-bottom: 5px;

} */

/* #myAudio {
  margin-right: 2.5px;
}

#bgAudio {
  margin-left: 2.5px;

} */

/* #audioContainer {
  display: flex;
  width: 704px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: space-around;
} */

#textBox2 {
  width: 410px;
  font-size: 31px;
  margin-bottom: 10px;
}

.container {

  /* position: absolute; */
  width: 410px;
  height: 528px;
  top: 50px;
  left: 820px;
  border: 3px solid rgb(42, 146, 148);
  border-radius: 2px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.slides {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 405px;
  height: 528px;
  /* background: linear-gradient(454deg, #4f4080,#9553ff); */
  scroll-snap-align: start;
}

.slides img {
  width: 390px;
}

#videoContainer {
  position: absolute;
  top: 800px;
  width: 1115px;
  height: 465px;
  border: 3px solid rgb(42, 146, 148);
  border-radius: 2px;
  margin: 0px 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#myVideoElement {
  width: 1115px;
  /* height: 627px; */
  height: 465px;
}